body {
  background-color: #F7F7F7;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}
a {
  text-decoration: none;
  color: #383838;
}
h1 {
  margin: 20px 20px;
}
ul {
  display: inline-block;
  list-style-type: none;
  margin-top: 5px;
}
li {
  display: inline;
}
.nav-container a:hover {
  color: #808080;
  border-bottom: 2px solid #424344;
}
img {
  max-width: 100%;
  height: auto;
}
.header {
  background-color: #8c1515;
  color: #FFF;
  font-size: 20px;
}
.uni-name {
  display: inline-block;
}
.search-type {
  display: inline-block;
  float: right;
  font-size: 14px;
  padding: 30px 65px;
  }
.search-input {
  height: 30px;
  width: 200px;
  font-size: 13px;
  padding-left: 10px;
  border-radius: 5px;
  border: 2px solid #e9e6df;
}
.input-wrapper {
  position: relative;
  display: inline-block;
  padding-left: 10px;
}
.submit {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 14px;
  border: none;
  background-color: #FFF;
  cursor: pointer;
  color: #424344;
}
.submit:hover {
  color: #808080;
}
.nav-container {
  background-color: #f2f1eb;
}
.nav-bar {
  font-size: 20px;
  display: inline-block;
  padding-right: 35px;
  margin-bottom: 5px;
}
.nav-bar li {
  padding-right: 30px;
}
.nav-gateway {
  text-transform: uppercase;
  font-size: 12px;
  display: inline-block;
  float: right;
  font-weight: bold;
  margin: 10px 0px;
}
.nav-gateway li {
  padding-left: 20px;
}
.carousel-container {
  position: relative;
  display: inline-block;
  padding: 0px;
}
.carousel-caption {
  background-color: rgba(242, 241, 235, 0.7);
  font-weight: bold;
  padding-left: 10px;
}
h2 {
  color: #8c1515;
  font-size: 1em;
  text-transform: uppercase;
  display: inline;
}
p {
  display: inline;
  line-height: 1.5;
}
h3 {
  color: #5f574f;
  font-size: 25px;
  padding: 5px 20px;
  border-bottom: 1px solid rgba(211,211,211,0.5);
}
.top-stories {
  padding-left: 10px;
}
.new-story {
  display: inline-block;
  width: 25%;
}
.news-text {
  width: 80%;
  font-size: 14px;
  line-height: 2;
}
h4 {
  font-size: 20px;
  margin: 0;
}
h5 {
  color: #8c1515;
  text-transform: uppercase;
  font-size: 14px;
  margin: 0;
}
.more-news {
  padding-left: 0;
  padding-right: 40px;
}
.more-news li {
  padding-top: 10px;
}
.more-headlines li {
  display: block;
  font-size: 16px;
}
.more-headlines a:hover {
  color: #8c1515;
  text-decoration: underline;
}
.hide-for-desktop {
  display: block;
}
.hide-for-mobile {
  display: none;
}
.col-sm-* {
  width: 100%;
}
.time {
  display: inline-block;
}
.twitter-link {
  display: inline-block;
}
.tweet {
  display: inline-block;
}
.media-icons {
  display: inline-block;
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .hide-for-desktop {
    display: none;
  }
  .hide-for-mobile {
    display: block;
  }
  h1 {
    margin: 20px 10px;
  }
  .header {
    padding-left: 40px;
  }
  .nav-bar {
    margin-left: 15px;
  }
  .nav-gateway {
    padding-right: 70px;
  }
  .carousel-image {
    padding: 10px 50px;
  }
  h2 {
    font-size: 40px;
    text-transform: none;
  }
  p {
    margin-top: 0px;
    margin-bottom: 20px;
    display: block;
    line-height: normal;
  }
  .carousel-caption {
    max-width: 35%;
    position: absolute;
    right: 5px;
    bottom: 5px;
    padding: 10px 10px 0px 30px;
    margin: 0px 70px 30px 0px;
  }
  .top-stories {
    padding-left: 60px;
    padding-top: 10px;
  }
  h3 {
    padding: 5px 60px;
    margin-bottom: 5px;
  }
  .col-sm-3 {
    width: 25%;
    float: left;
  }
  .col-sm-9 {
    width: 75%;
    float: left;
  }
