body {
  font-family: 'Roboto', sans-serif;
  font-size: 13.5px;
  letter-spacing: 1px;
  margin: 20px 120px;
  color: #696969;
}

a {
  text-decoration: none;
  cursor: pointer;
}
a:visited {
    color: #2b2828;
}
.header {
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(211,211,211,0.5);
}

.logo-home {
  display: inline-block;
}

.material-icons {
  color: #4f4f4f;
}

.search {
  display: inline-block;
  float: right;
  color:#4f4f4f;
}

.sign-up {
  color: #02b875;
  padding-left: 30px;
}

.icon-search {
  color:#4f4f4f;
}

.navigation {
  margin-top: 12px;
  margin-bottom: 100px;
  width: 100%;
  background-color: #fff;
  }

.navigation a {
  padding-right: 15px;
  color: 	#808080;
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-bottom: 1px solid rgba(211,211,211,0.5);
  }

.popular-reads {
  font-size: 22px;
  color: #02b875;
  font-weight: bold;
  margin-bottom: 30px;
}
.main-image {
  display: inline-block;
  width: 60%;
  margin-bottom: 40px;
}
.main-article {
  display: inline-block;
  float: right;
  width: 36%;
  font-size: 36px;
  font-weight: 700;
}
.content {
  display: inline-block;
  float: right;
  font-size: 18px;
  font-weight: 300;
}

.author-image {
  border-radius: 50%;
  /*display: inline-block;*/
}

.author-name {
  font-size: 14px;
  color: #02b875;
  font-weight: 300;
  /*display: inline-block;*/
}

.date {
  font-size: 12px;
  font-weight: 300;
  color: #808080;
}

.sub-article {
  display: inline-block;
  width: 31%;
  font-size: 30px;
  font-weight: 700;
  padding-left: 5px;
  padding-right: 10px;
}
.avatar-text {
  display: inline-block;
}
